$bgcolor: #fcfafa;
$bordercolor: #5aaa95;
$textcolor: #003049;

$bordersize: 2px;
$psize: 15px;
$h3size: 20px;
$h2size: 25px;
$rowgap: 25px;
$columngap: 10px;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid-container {
    background-color: $bgcolor;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.grid-item {
    padding: 15px;
}

.last-grid-item {
    margin-bottom: 15px;
}

.header {
    grid-column: 1/-1;
    background-image: url(pictures/chalkboard.jpg);
    text-align: center;
    margin-top: 15px;
    border: $bordersize outset $bordercolor;

    nav {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 15px;

        a {
            color: $bgcolor;
        }
    }

    p {
        color: $bgcolor;
    }

    .logo{
        margin-top: 20px;
        height: 100px;
    }
}

.about-me {
    grid-column: 1/-1;
    border: $bordersize outset $bordercolor;
}

.bio {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: $rowgap;
    border: $bordersize outset $bordercolor;
}

.skills {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: $rowgap;
    border: $bordersize outset $bordercolor;
}

.languages {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: $rowgap;
    border: $bordersize outset $bordercolor;
}

.experience {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 67% 23%;
    grid-row-gap: $rowgap;
    grid-column-gap: $columngap;
    border: $bordersize outset $bordercolor;
}

.education {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 25% 20%;
    grid-row-gap: $rowgap;
    grid-column-gap: $columngap;
    border: $bordersize outset $bordercolor;

    
}

p {
    color: $textcolor;
    font-size: $psize;
}
h3 {
    color: $textcolor;
    font-size: $h3size;
}
h2 {
    color: $textcolor;
    font-size: $h2size;
    text-decoration-line: underline;
    text-decoration-color: $textcolor;
}

h1 {
    color: $bgcolor;
    font-size: 50px;
}

.title {
    grid-column: 1/-1;
}