$bgcolor: #fcfafa;
$bordercolor: #5aaa95;
$titlecolor: #003049;
$textcolor: #81726a;
$extracolor: #B30089;
$nocolor: #00000000;
$nocolor1: #5aaa950f;
$nocolor2: #5aaa9544;

$bordersize: 2px;
$psize: 15.832px;
$h3size: 21.11px;
$h2size: 28.139px;
$rowgap: 25px;
$columngap: 10px;

$mobile: 412px;
$tabletmin: 413px;
$tablet: 810px;
$laptop: 950px;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $bgcolor;
}

.grid-container {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 25px;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.grid-item {
    padding: 15px;
}

.button-1 {
    grid-column: 1/-1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
    border: none;
    outline: none;
    background-color: $nocolor;
    font-size: 25px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.threeD {
    box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
    //border: $bordersize outset $bordercolor;
}

.twoD {
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
    border: $bordersize outset $bordercolor;
}

.last-grid-item {
    margin-bottom: 15px;
}

.header {
    grid-column: 1/-1;
    background-image: url(pictures/chalkboard.jpg);
    text-align: center;
    margin-top: 15px;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;

    nav {
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 7.5px;

        a:hover {
            color: $bordercolor;
        }

        a {
            color: $bgcolor;
        } 
    }

    h2 {
        padding-top: 2%;
        color: $bgcolor;
    }

    .logo{
        margin-top: 5%;
        height: 100px;
    }
}

.about-me {
    grid-column: 1/-1;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
}

.bio {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: $rowgap;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
}

.skills {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: $rowgap;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
}

.languages {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row-gap: $rowgap;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
}

.experience {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 72.5% 17.5%;
    grid-row-gap: $rowgap;
    grid-column-gap: $columngap;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
}

.education {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 40% 31% 19%;
    grid-row-gap: $rowgap;
    grid-column-gap: $columngap;
    //border: $bordersize outset $bordercolor;
    //box-shadow: rgba(90, 170, 149, 0.5) 0px 3px 8px;
}

footer {
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
}

p {
    color: $textcolor;
    font-size: $psize;
}

h3 {
    color: $textcolor;
    font-size: $h3size;
}

h2 {
    color: $titlecolor;
    font-size: $h2size;
}

h1 {
    color: $bgcolor;
    font-size: 50px;
}

.title {
    grid-column: 1/-1;
}

nav a {
    padding-left: 2%;
    padding-right: 2%;
}

header h2 {
    color: $bgcolor;
}

.button-1:hover {
    background-color: $nocolor1;
}
.button-1:active {
    background-color: $nocolor2;
}

.button-name, .button-icon {
    color: $textcolor;
    padding: 0 25px;
    display: inline-flex;
}

@media (min-width: $laptop){        //DT
    .grid-container {
        grid-template-columns: 35% 35%;
        padding-top: 12.5%;
        padding-bottom: 12.5%;
    }
    
    .about-me {
        grid-column: 1/2;
    }

    .bio {
        grid-column: 2/-1;
    }

    .skills {
        grid-column: 1/2;
    }

    .languages {
        grid-column: 2/-1;
    }
}
